<nav class="navbar navbar-light bg-light">
  <a href="/flats" class="navbar-brand">Simple Airbnb
  </a>
  <button class="btn btn-outline-primary my-2 my-sm-0">
    <%= link_to 'Add flat', new_flat_path %>
  </button>
</nav>
