// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  width: 1200px;
  margin: 0 auto;
}

.flat-details {
  background-color: #f8f9fa;
}

.flat-actions {
  border: 2px solid;
  border-color:#f8f9fa;
}
