// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  margin-top: 20px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.flat {
  margin-top: 20px;
}

.flat-details {
  background-color: #f8f9fa;
  padding: 20px;
}

.fas {
  margin-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.ml-3 {
  margin-left: 16px;
}

.flat-actions {
  border: 2px solid;
  border-color:#f8f9fa;
  padding: 20px;
}

.action {
  margin-left: 16px;
}

.container-form {
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
}

.banner {
  // background-color: #eaebed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:350px;
}

.margin-top-negative {
  margin-top: -80px;
}

.title-flat {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px lightgrey;
}

.flat-show-address {
  font-size: 20px;
}

.description-flat {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px lightgrey;
}

.map {
  height: 300px;
  background-color: #f8f9fa;
  border-radius: 3px;
  box-shadow: 1px 1px 2px lightgrey;
}

.booking-flat {
  background-color: #f8f9fa;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 1px 1px 2px lightgrey;
}

.details-show {
  background-color: #f8f9fa;
  border-radius: 3px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 1px 2px lightgrey;
}

.share {
  background-color: #f8f9fa;
  border-radius: 3px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 1px 2px lightgrey;
}

.flat-show-share {
  margin: 0;
}

.flex-align {
display:flex;
justify-content: space-between;
align-items: center;
}

.link {
  font-size: 30px;
  margin-right: 5px;
}

.flat-card-image {
    height: 180px;
    background-position: center;
    background-size: cover;
}
