// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  margin-top: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.flat {
  margin-top: 20px;
}

.flat-details {
  background-color: #f8f9fa;
  padding: 20px;
}

.fas {
  margin-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.ml-3 {
  margin-left: 16px;
}

.flat-actions {
  border: 2px solid;
  border-color:#f8f9fa;
  padding: 20px;
}

.action {
  margin-left: 16px;
}

.container-form {
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
}

.banner {
  background-color: #eaebed;
  height:300px;
}

.margin-top-negative {
  margin-top: -90px;
}

.title-flat {
  background-color: #b2d4f7;
}

.description-flat {
  background-color: #b2d4f7;
}

.map {
  height: 300px;
  background-color: #b2d4f7;
}

.booking-flat {
  background-color: #b2d4f7;
  padding: 20px;
}
